/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 mars 2015, 11:33:41
    Author     : kremy
*/
.content-wrapper.container {
    margin-top: 60px !important;
    margin-bottom: 60px;
}

span.warning {
    color: orangered;
}

span.ok {
    color:green;
}

h1.navbar-text {
    float:right;
    font-size: 1.2em;
    font-style: italic;
}

/********************************** Component styles **************************/
.component-badge {
    margin-right: 0.3em;
    display:inline-block;
}
* .component-badge:last-child {
    margin-right: 0;
}
.component-badge span{
    padding:0.25em;
    border-color: #6F6F6F;
    border-style:solid;
    border-width:1px;
    float:left;
}
.component-badge span.component-description {
    line-height: 1 !important;
    border-right-color: transparent;
    background-color: #fcfbf7;
    font-family: inherit;
    font-weight: 500;
}
.component-badge span:first-child{    
    color:#fff;
    background-color: #6F6F6F;
    border-radius: 5px 0 0 5px;
}
.component-badge span:last-child{
    color:#38e;
    left:-1px;
    background-color: #fcfbf7;
    border-left-color: transparent;
    border-radius: 0 5px 5px 0;
}

ul.list-link-components {
    padding:0;
    margin-bottom: 0;
}
.component {
    color:#FFF;
    font-style: normal;
    padding: 0.5em;    
    display: inline-block;
    margin-left: 0.5em;
    border-radius: 5px;
}

.glyphicon-recaptcha {
    background-image: url("/css/images/recaptcha.gif");
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-size: 15px auto;
    padding-left: 20px;
}
.glyphicon-recaptcha {
    background-position: center center;
    background-size: 60% auto;
    color: transparent;    
}
.glyphicon-recaptcha:after {
    content:"--";
    color: transparent;
}
/****************************************************************************/
/*************************** Some basic tools classes *************************/
.margin-sm {
    margin:0.5em;
}

.centered-text {
    text-align: center;
}
/******************************************************************************/

/******************************* CSS3 loader **********************************/
/*** source : http://www.css-spinners.com/css/spinner/three-quarters.css ******/
@-moz-keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.three-quarters-loader:not(:required) {
  -moz-animation: three-quarters-loader 1250ms infinite linear;
  -webkit-animation: three-quarters-loader 1250ms infinite linear;
  animation: three-quarters-loader 1250ms infinite linear;
  border: 8px solid #38e;
  border-right-color: transparent;
  border-radius: 16px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
}
/****************** Flash messages style here *********************************/
.flash-message {    
    box-shadow: 1px 1px 5px #000000;    
    left: 0;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    position: fixed;
    text-align: center;
    font-weight: bold;
    top: 50px;
    width: 100%;
    z-index: 9999;
}
.flash-message a {
    float: right;
    color:gray;
}
.flash-message a:hover {    
    text-decoration: none;
}
/****************** End of flash messages style *******************************/

/***************** Start of Bootstrap overriding section **********************/
/****************** Be carefull when changing something ***********************/
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
    margin-top:0;    
}
a.navbar-brand {
    float:none;
}

.navbar-form {
    padding:0;
}