/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 mai 2015, 12:18:43
    Author     : kremy
*/

/******************************************************************************/
/*********************** All link style ***************************************/
div#left-block {
    text-align: center;
}



div.link-url {
    display: inline-block;
}
button.link-copy{
    height: 3em;
    font-size: 0.9em;
}

section.generated-link .copy-instruction {
    margin-bottom: 0.3em !important;
    display: inline-block;
}


