/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 mai 2015, 12:18:43
    Author     : kremy
*/
p.description {
    text-align: left;
    margin-top:1em;
    font-size: 1.2em;
}

ul#link-components-available li{
    cursor:move !important;    
}
ul#link-components-chosen{    
    height:3em;    
    
    text-align: center;
    border-color:#0088cc;
    border-style:dashed;
    border-width:1px;
    
}
ul#link-components-chosen li.legend {    
    font-style: italic;
    font-size: 1.1em;
}
ul#link-components-chosen li{
    font-style: normal;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.3em;            
    display: inline-block;
    margin-left: 0.5em;
    cursor: move;
}
section.link-components {
    padding: 0;
    margin-bottom: 0.5em;
}
section.link-components h2 {
    font-size: 1.2em;
    margin-bottom: 0;
}
section.link-components  .panel-body{    
    padding: 0.4em;
}
form[action="/add"] fieldset {
    margin-bottom:1em;
}   
.containt {
    width:100%;
}
/******************************************************************************/
/*********************** All link style ***************************************/
div#left-block {
    text-align: center;
}
div.link-url {
    display: inline-block;
    margin-bottom: 0;
    font-size: 0.9em;
}
button.link-copy{
    height: 3em;
    font-size: 0.9em;
}

section.generated-link .copy-instruction {
    margin-bottom: 0.3em !important;
    text-align: center;
}
section.generated-link {    
    margin-top: 1em;
}

form.link-add button {
    margin-top:2em !important;
}

.link-wrapper span{
    padding-top: 0.5em;
}
/****************************************************************************************************/
.glyphicon-recaptcha {
    background-image: url("/css/images/recaptcha.gif");
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-size: 15px auto;
    padding-left: 20px;
}
ul#link-components-chosen .glyphicon.glyphicon-recaptcha.label {
    background-position: center center;
    background-size: 60% auto;
    color: transparent;    
}

/********************************************** Alert Component style **********************************/
#slider-default_threshold {    
    margin-bottom: 1em;
    background: green;
}

div#slider-default_threshold div.ui-slider-range-max {
    background: red !important;
    border-radius: 0;
}
#default_threshold {
    border:none;
}
